<!-- products list -->
<ul class="text-4xl grid sm:grid-cols-2 md:grid-cols-3 gap-2 lg:gap-8 p-4 pb-[8rem]">
    {{#each products}}
        <li class="border border-black rounded-xl">

            <div class="p-4">

                <ul>
                    <li>
                        <img class="w-full" src="/website/{{this.thumbnail}}" alt="">
                    </li>
                    <li>
                        <a class="inline-block text-black font-bold capitalize mt-4" href="/products/{{this.slug}}">{{this.name}}</a>
                    </li>
                    <li>
                        {{#if instock}}
                            <p class="flex items-center mt-4"><span class="text-3xl font-regular font-bold capitalize">instock</span><img class="px-2" src="/website/checkmark.svg" alt=""></p>
                        {{^}}
                            <p class="text-3xl font-regular line-through mt-4">instock</p>
                        {{/if}}
                    </li>
                    <li>
                        <p class="mt-4">{{this.avgRating.amount}}</p>
                    </li>
                    <li>
                        <p class="text-6xl font-bold mt-4">$ {{this.price}}</p>
                    </li>
                    <li>
                        <p class="mt-8 leading-normal">{{this.desc}}</p>
                    </li>
                    <li>
                        {{#if freeShipping}}
                            <p class="flex flex-col items-start mt-4"><img class="px-2" src="/website/free-shipping.svg" alt=""><span class="text-5xl font-regular font-bold capitalize">shipping</span></p>
                        {{^}}
                            <p class="font-regular line-through mt-4">{{freeShipping}}</p>
                        {{/if}}
                    </li>
                </ul>

            </div>

        </li>
    {{/each}}
</ul>
<!-- products list -->

<!-- products paginator -->
<div class="w-full bg-white fixed bottom-0 flex items-center justify-center py-4">
    <div id="prev-page-link" class="font-bold">
        <a class="text-4xl capitalize inline-block" href="/products?page={{pagination.prevPage}}">
            <img src="/website/arrow.svg" alt="">
        </a>
    </div>
    <ul 
        id="num-pages" 
        class="flex" 
        data-current-page="{{pagination.page}}" 
        data-num-pages="{{pagination.numberOfPages}}"
    ></ul>
    <div id="next-page-link" class="font-bold scale-[-1]">
        <a class="text-4xl capitalize inline-block" href="/products?page={{pagination.nextPage}}">
            <img src="/website/arrow.svg" alt="">
        </a>
    </div>
</div>
<!-- products paginator -->